#
# HDMI to MHL  device configuration
#

menu "MHL sii9244 support"

config FB_MSM_HDMI_MHL_9244
	depends on FB_MSM_HDMI_MSM_PANEL
	bool 'SI_MHL 9244 support'
	default n
	---help---
	  Support the HDMI to MHL conversion.
	  MHL (Mobile High-Definition Link) technology
	  uses USB connector to output HDMI content

config FB_MSM_HDMI_MHL_RCP
	bool "FB_MSM_HDMI_MHL_RCP"
	depends on FB_MSM_HDMI_MHL_9244
	default n
	help

endmenu
